/* @font-face {
  font-family: "Vazir";
  src: url("/fonts/Vazir-Bold-FD-WOLfanum.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Vazir";
  src: url("/fonts/Vazir-Bold-FD-WOLfanum.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Vazir";
  src: url("/fonts/Vazir-Bold-FD-WOLfanum.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
} */

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: bold;
  src: url("/fonts/yekan/eot/iranyekanwebboldfanum.eot");
  src:
    url("/fonts/yekan/eot/iranyekanwebboldfanum.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */ url("/fonts/yekan/woff/iranyekanwebboldfanum.woff")
      format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("/fonts/yekan/ttf/iranyekanwebboldfanum.ttf") format("truetype");
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 100;
  src: url("/fonts/yekan/eot/iranyekanwebthinfanum.eot");
  src:
    url("/fonts/yekan/eot/iranyekanwebthinfanum.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */ url("/fonts/yekan/woff/iranyekanwebthinfanum.woff")
      format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("/fonts/yekan/ttf/iranyekanwebthinfanum.ttf") format("truetype");
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 300;
  src: url("/fonts/yekan/eot/iranyekanweblightfanum.eot");
  src:
    url("/fonts/yekan/eot/iranyekanweblightfanum.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */ url("/fonts/yekan/woff/iranyekanweblightfanum.woff")
      format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("/fonts/yekan/ttf/iranyekanweblightfanum.ttf") format("truetype");
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/yekan/eot/iranyekanwebregularfanum.eot");
  src:
    url("/fonts/yekan/eot/iranyekanwebregularfanum.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */ url("/fonts/yekan/woff/iranyekanwebregularfanum.woff")
      format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("/fonts/yekan/ttf/iranyekanwebregularfanum.ttf") format("truetype");
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/yekan/eot/iranyekanwebmediumfanum.eot");
  src:
    url("/fonts/yekan/eot/iranyekanwebmediumfanum.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */ url("/fonts/yekan/woff/iranyekanwebmediumfanum.woff")
      format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("/fonts/yekan/ttf/iranyekanwebmediumfanum.ttf") format("truetype");
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 800;
  src: url("/fonts/yekan/eot/iranyekanwebextraboldfanum.eot");
  src:
    url("/fonts/yekan/eot/iranyekanwebextraboldfanum.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */ url("/fonts/yekan/woff/iranyekanwebextraboldfanum.woff")
      format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("/fonts/yekan/ttf/iranyekanwebextraboldfanum.ttf") format("truetype");
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 900;
  src: url("/fonts/yekan/eot/iranyekanwebblackfanum.eot");
  src:
    url("/fonts/yekan/eot/iranyekanwebblackfanum.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */ url("/fonts/yekan/woff/iranyekanwebblackfanum.woff")
      format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("/fonts/yekan/ttf/iranyekanwebblackfanum.ttf") format("truetype");
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 950;
  src: url("/fonts/yekan/eot/iranyekanwebextrablackfanum.eot");
  src:
    url("/fonts/yekan/eot/iranyekanwebextrablackfanum.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */ url("/fonts/yekan/woff/iranyekanwebextrablackfanum.woff")
      format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("/fonts/yekan/ttf/iranyekanwebextrablackfanum.ttf") format("truetype");
}
